<div class="rolling-navigation">

  <div class="nav-block-overlay close-overlay"></div>

  <div class="nav-block-content">
    <div class="nav-block-content-inner">
      <ul class="nav-menu primary">
        <li><a class="nav-menu-link" href="/">
          <span class="caption">Home</span>
        </a></li>
        <li><a class="nav-menu-link" href="/">
          <span class="caption">Developers</span>
        </a></li>
        <li>
          <a class="nav-menu-link" href="/">
            <span class="caption">Company</span>
          </a>
          <ul class="nav-menu primary-submenu">
            <li><a class="nav-submenu-link" href="#">About</a></li>
            <li><a class="nav-submenu-link" href="#">Blog</a></li>
            <li><a class="nav-submenu-link" href="#">Careers</a></li>
            <li><a class="nav-submenu-link" href="#">Contacts</a></li>
          </ul>
        </li>
        <li><a class="nav-menu-link" href="/">
          <span class="caption">iBanking</span>
        </a></li>
        <li><a class="nav-menu-link" href="/">
          <span class="caption">Apply</span>
        </a></li>
        <li>
          <a class="nav-menu-link" href="/">
            <span class="caption">Login</span>
          </a>
          <ul class="nav-menu primary-submenu">
            <li><a class="nav-submenu-link" href="#">Dashboard</a></li>
            <li><a class="nav-submenu-link" href="#">iBank</a></li>
          </ul>

        </li>
      </ul>

      <button class="button-try-demo">Try demo</button>

      <ul class="nav-menu secondary">
        <li><a class="nav-menu-link" href="/">Website Terms of use</a></li>
        <li><a class="nav-menu-link" href="/">Privacy Notice</a></li>
        <li><a class="nav-menu-link" href="/">Cookie Notice</a></li>
      </ul>

    </div>
  </div>

  <!-- <div class="navigation-block block-right">
    <div class="additional-nav-block-content">
      <ul class="additional-menu">
        <li class="additional-nav-link"><a href="/">
          <span>Website Terms of Use</span>
        </a></li>
        <li class="additional-nav-link"><a href="/">
          <span>Privacy Notice</span>
        </a></li>
        <li class="additional-nav-link"><a href="/">
          <span>Cookie Notice</span>
        </a></li>
      </ul>

      <p class="support-text">
        Please refer to the Terms and Conditions, Fees and Charges and other rules available
        <a href="/">https://www.cardpay.com/documents/</a>
      </p>

      <button class="button-try-demo">Try Demo</button>

      <div class="contact-sales">
        <a href="/">Contact our sales team</a>
      </div>

      <p>
        © 2009-2019 CardPay.
        All rights reserved.
        CardPay, the logo and any associated brand names are CardPay trademarks.
        All other trademarks are property of their respective owners.
      </p>

    </div>
  </div> -->

  <!-- <div class="navigation-block block-left">
    <ul class="nav-menu">
      <li><a class="nav-link" href="/">
        <span class="caption">Home</span>
        <span class="description">Introduction to Cardpay</span>
      </a></li>
      <li><a class="nav-link" href="/">
        <span class="caption">Developers</span>
        <span class="description">Integration with Cardpay services and API</span>
      </a></li>
      <li><a class="nav-link" href="/">
        <span class="caption">Company</span>
        <span class="description">Few compliments and vanityfair</span>
      </a></li>
      <li><a class="nav-link" href="/">
        <span class="caption">iBanking</span>
        <span class="description">Open your corporate account with Carpay</span>
      </a></li>
      <li><a class="nav-link" href="/">
        <span class="caption">Apply</span>
        <span class="description">Become a client</span>
      </a></li>
      <li><a class="nav-link" href="/">
        <span class="caption">Login</span>
        <span class="description">Check your account activity</span>
      </a></li>
    </ul>
  </div> -->

  <div class="navigation-panel">
    <div class="navigation-toggler">
      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M7 16H25" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M7 10H25" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M7 22H25" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
  </div>


</div>
