.rolling-content {
  .console-output {
    position: fixed;
    z-index: $z-console;
    right: $spacer;
    top: 4*$spacer;
    width: 240px;
    overflow-Y: auto;
    overflow-X: hidden;
    background-color: rgba(0,0,0,0.75);
    font-size: 10px;
    line-height: 1.2;
    color: white;
    padding: $spacer;
    border-radius: 8px;
  }
}
