.is-mobile-device {
  .rolling-content {

    .slide {
      opacity: 0.85;
      @include correct-100vh();
    }

    .fixed-slides-container {
      display: none;
    }

  }
}

.rolling-content {

  /**
  * Контрольный слайд
  * Эти слайды контролят всю анимацию
  */
  .slide {
    height: 100vh;
    padding: $spacer;
    opacity: 1;
    position: relative;
    z-index: $z-slides;
    padding: 2rem;
    display: flex;
    opacity: 0;
    transition: opacity .5s ease-in-out;

    .mobile-slide-wrapper {
      margin: auto;

    }

    @include correct-100vh();

    // @include media-breakpoint-up(lg) {
    //   padding-top: 30vh;
    // }

  }

  /**
  * Фиксированный слайд в котором проходит вся анимация
  */
  .fixed-slides-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    @include correct-100vh();

    .slide-fixed {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      @include correct-100vh();
      transition: transform .25s ease-in-out;
    }
  }

  .interface-elements {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }


}


.mobile-slide-wrapper {
  margin: auto;
  position: relative;
  width: 100%;
  height: 100%;

  svg {
    width: 100%;
    height: 100%;
  }
}
