.rolling-content {

  .slide {
    height: 100vh;
    padding: $spacer;
    opacity: 1;
    position: relative;
    z-index: $z-slides;
    padding: 2rem;
    display: flex;

    @include correct-100vh();

    @include media-breakpoint-up(sm) {
      opacity: 0;
      padding-top: 30vh;
    }

  }


  .fixed-slides-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: none;

    @include media-breakpoint-up(sm) {
      display: block;
    }

    .slide-fixed {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      transition: transform .1s ease-in-out;
    }
  }

  .interface-elements {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }


}


.mobile-slide-wrapper {
  margin: auto;

  svg {
    width: 100%;
    height: 100%;
  }
}
