.website-background, .website-animated-background {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: .5;

  svg {
    min-width: 100vw;
    min-height: 100vh;
    width: 100vw;
    height: 100vh;
  }
}

.website-animated-background {
  opacity: .2;
}
