@import './fonts/cartograph-sans';
@import './mixins';
@import './bootstrap/bootstrap';
// @import './components/components';
@import './pages/index';

body, html {
  background-color: $white;
}

.bg-image--dot-pattern {
  background-image: url("../images/patterns/dot_pattern_300.png");
  width: 400px;
  height: 100px;
}

.bg-gray-100 {
  background-color: $gray-100;
}
