<% var data = {
  title: "Main | Проект",
  author: "Harrix"
}; %>

<%= _.template(require('./../includes/header.html'))(data) %>

  <div class="glitch-page content">
    <div class="glitch">
      <div class="glitch__img"></div>
      <div class="glitch__img"></div>
      <div class="glitch__img"></div>
      <div class="glitch__img"></div>
      <div class="glitch__img"></div>
    </div>

    <div class="text-content">
      <h2 class="content__title">Cyberpunk</h2>
      <h3 class="content__sub-title mb-5">Slashroller incorporated</h3>
      <button class="btn btn-light btn-add-class" id="btn-add-class">Animations: OFF</button>
    </div>

  </div>


<%= _.template(require('./../includes/footer.html'))(data) %>
