<% var data = {
  title: "Main | Проект",
  author: "Harrix"
}; %>

<%= _.template(require('./../includes/header.html'))(data) %>

  <div class="glitch-page content">
    <div class="glitch">
      <div class="glitch__img"></div>
      <div class="glitch__img"></div>
      <div class="glitch__img"></div>
      <div class="glitch__img"></div>
      <div class="glitch__img"></div>
    </div>
    <h2 class="content__title">Cyberpunk</h2>
  </div>


<%= _.template(require('./../includes/footer.html'))(data) %>
