<% var data = {
  title: "Заголовок | Проект",
  author: "Dennis McK"
}; %>

<%= _.template(require('./../includes/header.html'))(data) %>

  <div class="rolling-content">



    <div class="video-footage fullscreen-bg" id="video-footage">
      <video class="fullscreen-bg__video" loop muted autoplay>
        <source src="/src/assets/HiTech.mp4" type="video/mp4" />
      </video>
    </div>

    <div class="website-background" id="website-background"></div>
    <div class="website-animated-background" id="website-animated-background"></div>


    <div class="slides-container" id="slides-progress">
      <div class="slide slide-01">
        <%= _.template(require('./../includes/rolling/mobile-slide-01.html'))() %>
      </div>
      <div class="slide slide-02">
        <%= _.template(require('./../includes/rolling/mobile-slide-02.html'))() %>
      </div>
      <div class="slide slide-03">
        <%= _.template(require('./../includes/rolling/mobile-slide-03.html'))() %>
      </div>
      <div class="slide slide-04">
        <%= _.template(require('./../includes/rolling/mobile-slide-04.html'))() %>
      </div>
    </div>
    <div class="fixed-slides-container container" id="fixed-slides-container"></div>
    <%= _.template(require('./../includes/rolling/ui.html'))() %>
    <%= _.template(require('./../includes/rolling/navigation.html'))() %>




    <div class="help-ticks"><div class="toggler">Toggler</div></div>
    <div id="console-output" class="console-output">Empty</div>

    <div class="ui-preloader" id="ui-preloader">
      <div class="ui-preloader-text">
        Loading…
      </div>
    </div>

  </div>

<%= _.template(require('./../includes/footer.html'))(data) %>
